@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600|Bree+Serif|Kaushan+Script|Work+Sans:400,700);
html {
  background: #4a4d5e;
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', serif;
  color: #4a4d5e;
  text-transform: uppercase;
}
.nav-link,
.nav-link:visited {
  color: #d1d6dd;
}
.nav-link:hover {
  color: #fff;
}
.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background: #d1d6dd;
  color: #4a4d5e;
}
.page {
  background: #fff;
  padding: 20px 0 20px 0;
}
header {
  color: #d1d6dd;
  background: #4a4d5e;
  border-bottom: 1px solid #ddd;
}
header h4 {
  font-size: inherit;
  color: #d1d6dd;
}
.social {
  color: #d1d6dd;
}
.social-media {
  float: right;
}
.social li {
  float: left;
  list-style-type: none;
}
.facebook {
  margin-right: 10px;
}
.facebook:hover,
.twitter:hover {
  color: #fff;
}
.whatsnew {
  font-family: 'Kaushan Script', cursive;
  text-transform: lowercase;
}
.logo {
  text-transform: uppercase;
}
.logos:hover {
  text-decoration: none;
}
.largelogo {
  font-family: 'Work Sans', serif;
  font-size: 4rem;
  font-weight: 700;
  color: #d1d6dd;
  text-align: center;
}
.smalllogo {
  text-align: center;
  font-size: 1.55rem;
  color: #d1d6dd;
  text-shadow: none;
}
.breadcrumbs {
  background: #f4f4f4;
}
.thumbnail {
  border: 1px solid #ddd;
}
.shop {
  width: 535px !important;
}
.test {
  background: #000;
  display: block;
  height: 150px;
  width: 300px;
}
footer .social-media {
  text-align: center;
  float: none;
}
footer {
  display: block!important;
  border-top: 1px solid #ddd;
  color: #d1d6dd;
  background: #4a4d5e;
  text-align: center;
}
footer a {
  color: #d1d6dd;
}
footer a:hover {
  color: #fff;
}
footer .phone {
  color: #fff;
  font-size: 21px;
}
.tel {
  color: #fff;
  font-size: 21px;
}
.purple {
  color: #4a4d5e;
}
label.error {
  margin-top: 5px;
  color: #E42C3E;
  font-weight: 400;
}
.form-control.error,
.sm-form-control.error {
  border-color: #E42C3E;
}
a.dropdown-item {
  color: #333 !important;
}
@media (max-width: 47.9em) {
  .tel {
    color: #000;
  }
}
